<!DOCTYPE html>
<html lang="en" data-ng-app="vivoLogin">

<head>

    <meta http-equiv="Content-Language" content="en" />

    <meta name="keywords"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Vivo">
    <link rel="icon" href="images/logos/favicon.png" type="image/x-icon" />
    
    <title>VivoCarat - Seller Login</title>
    <meta name="robots" content="noindex,nofollow" />    
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/kendo.common-material.min.css" />
    <link rel="stylesheet" href="css/kendo.material.min.css" />
    <link rel="stylesheet" href="css/kendo.common.min.css" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
</head>
    
<body data-ng-controller='loginCtrl' ng-cloak>

<div class="login-wrap" data-ng-if="!isAuthenticated">
	<div class="login-html">
        <div class="img-with-logo"><img src="images/logos/logo.png"></div>
        
        <div ng-show="response != null" class="isa_error">
           <i class="fa fa-times-circle"></i>
           {{response}}
        </div>
        
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" style="display: none;"><label for="tab-2" class="tab" style="display: none;">Sign Up</label>
		<div class="login-form">
            <form>
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" name="user" type="text" class="input" autocomplete="off" data-ng-model="customer.name">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" data-ng-model="customer.password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" data-ng-click="doLogin(customer)">
				</div>
			</div>
            </form>
		</div>
        
	</div>
</div>
        
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/satellizer.min.js"></script>
    <script src="js/select.js"></script>
    <script src="js/toaster.js"></script>
    <script src="js/kendo.all.min.js"></script>
    <script src="js/taggedInfiniteScroll.js"></script>

    <script src="app/modules/vivoCommon.js"></script>
    <script src="app/modules/vivoLogin.js"></script>
    <script src="app/data.js"></script>
    <script src="app/directives.js"></script>
        
    </body>
</html>